<app-header titulo="card" ></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card> 
  
  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula tristique metus sed aliquet. Cras congue fermentum augue ac gravida. Sed ut venenatis tortor. Sed sem est, sodales sed pellentesque vel, pretium sed velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </ion-card-content>

  </ion-card>

  <ion-card>
    
    <img src="https://i.pinimg.com/originals/d0/84/03/d08403e3b083ee227635b4b2c62ce4ff.png">

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula tristique metus sed aliquet. Cras congue fermentum augue ac gravida. Sed ut venenatis tortor. Sed sem est, sodales sed pellentesque vel, pretium sed velit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </ion-card-content>

  </ion-card>

</ion-content>
